* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#accordion {
    padding: 20px 0;
    margin: 0 auto;
    h3 {
        width: 100%;
        text-align: center;
        height: 50px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 7px 5px;
        line-height: 50px;
        background-color: rgb(69, 121, 128);
        border-radius: 5px;
        color: white;
    }
    .accordion {
        .accordion-title {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            height: 40px;
            width: 100%;
            line-height: 40px;
            position: relative;
            border-radius: 5px;
            margin: 5px 0;
            h5 {
                padding-left: 25px;
                pointer-events: none;
            }
            .icondown {
                position: absolute;
                right: 25px;
                top: 0;
                line-height: 40px;
                transform: rotate(0deg);
                pointer-events: none;
                transition: 0.3s;
            }
            .active {
                transform: rotate(-90deg);
                box-shadow: none;
            }
        }
        .accordion-text {
            overflow: hidden;
            height: 0;
        }
        .isshow {
            height: 100%;
            padding: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 5px 0px;
        }
    }
}

@media only screen and (max-width:414px) {
    #accordion {
        width: 100%;
        padding: 0;
        h3 {
            border-radius: 0px;
            margin-bottom: 10px;
        }
    }
}

@media only screen and (min-width: 412px) {
    #accordion {
        padding: 20px 0;
        width: 500px;
    }
}